@media (max-width: 780px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 40px 30px;
    z-index: 600;
  }
  .navigation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
  }
  .navigation .logo {
    position: absolute;
    width: 130px;
  }
  .circle {
    top: 80px;
    clip-path: circle(64.7% at 100% -13%);
  }

  .navigation ul {
    position: absolute;
    width: 100vw;
    top: -365px;
    left: 0;
    z-index: -200;
    transition: 0.5s ease-in-out;
  }

  .navigation ul li {
    display: block;
    background-color: #eaeaea;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #20202020;
    margin: 0;
  }
  .navigation li a {
    font-size: 24px;
  }
  .navigation li a:hover {
    text-decoration: none;
    color: var(--yellow);
  }
  .slideIn {
    top: 80px !important;
  }

  .bars {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    left: 93%;
    border-radius: 5px;
    overflow: hidden;
  }
  .bars span {
    position: absolute;
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--yellow);
    left: 8px;
    transition: all 0.3s ease-in-out;
  }
  .bars .bar-one {
    top: 10px;
  }
  .bars .bar-two {
    top: 22px;
  }
  .bars .bar-three {
    top: 35px;
  }

  .change .bar-two {
    transform: translateX(50px);
  }
  .change .bar-one {
    transform: rotate(45deg) translate(8px, 8px);
  }
  .change .bar-three {
    transform: rotate(-405deg) translate(10px, -9px);
  }
  /* first section */
  .content {
    padding: 40px 40px;
    flex-direction: column-reverse;
  }
  .left-content {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .left-content p {
    width: 90%;
    text-align: center;
  }

  .right-content {
    width: 95%;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .mySwiper1 .swiper-slide {
    width: 200px;
    height: 550px;
  }

  /* gallery section */
  .gallery-content h1::before {
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--yellow);
    left: 40px;
    top: 52px;
  }
  .gallery-content h1::after {
    display: none;
  }

  .gallery-content .gallery-gp {
    max-width: 700px;
    grid-auto-rows: 200px;
  }

  /* pet section */
  .pet-card-container {
    padding: 45px 0px 20px 0px;
    justify-content: center;
  }
  .pet-card {
    margin: 20px;
  }
  .pet-card-body {
    padding: 30px 15px;
  }
  .pet-card .pet-card-body h3 {
    font-size: 1.2rem;
  }
  /* download section */
  .download {
    width: 100%;
    justify-content: center;
  }
  .download .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .download .left img {
    transform: translateX(-186px);
  }
  .download .right {
    width: 100%;
  }

  /* news section */
  .news-container {
    flex-flow: column wrap;
    justify-content: center;
  }
  .news-container .latest-news {
    width: 100%;
    margin-bottom: 40px;
  }
  .latest-news {
    padding: 0;
  }
  .latest-news .first-content,
  .latest-news .second-content {
    justify-content: space-evenly;
  }
  .latest-news .first-content .img,
  .latest-news .second-content .post-1 {
    margin: 0;
  }

  .news-container .news-archive {
    width: 100%;
  }
  .news-archive .box .box-letters {
    margin-left: 18px;
  }
  .news-archive .box::after {
    width: 720px;
  }
  /* tournament */
  .match-preview {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
  }
  .left-team .team-name,
  .right-team .team-name {
    display: none;
  }

  /* video */
  .video-container {
    width: 95%;
  }
  .video-container .row {
    grid-template-columns: repeat(1, 1fr);
  }
  /* subscribe */
  .subscribe {
    height: 40vh;
  }

  /* contact */
  .contact {
    flex-flow: column wrap;
  }
  .contact .left-contact,
  .contact .right-contact {
    width: 100%;
  }
  .contact .left-contact {
    margin-bottom: 45px;
  }

  .contact .right-contact {
    padding-left: 100px;
  }
  .contact .right-contact textarea {
    width: 560px !important;
  }
  .contact .right-contact .user-input {
    width: 275px;
  }
  .contact .right-contact button {
    width: 560px;
  }
  /* footer */
  .footer .top,
  .footer .bottom {
    width: 90%;
    flex-flow: column wrap;
  }
  .footer .divider {
    width: 90%;
  }
  .footer .top .foot-right,
  .footer .bottom .foot-right {
    margin-top: 15px;
  }

  .foot-right img:first-of-type {
    margin-right: 10px;
  }
  /* mobile */
  @media (max-width: 375px) {
    .scroll-me {
      position: fixed;
      left: 10px;
      bottom: 10px;
    }
    .circle {
      clip-path: circle(70.7% at 100% 8%);
    }
    .navigation .logo {
      background-image: url("../assets/mobile-logo.png");
      width: 60px;
      height: 60px;
      left: 15px;
    }

    .navigation .bars {
      left: 33%;
    }
    .navigation ul li a {
      margin-left: 0;
    }
    .mySwiper1 .swiper-slide {
      width: 200px;
      height: 420px;
    }

    .content {
      padding: 40px 0;
    }
    .left-content {
      width: 100%;
    }
    .left-content h1 {
      font-size: 2.5rem;
    }
    .left-content p {
      width: 90%;
      font-size: 16px;
      margin-top: 25px;
      padding: 0 15px;
      text-align: center;
    }

    /* gallery */
    .gallery-content .gallery-gp {
      padding: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "one one"
        "one one"
        "two three"
        "four five";
    }
    .gallery-content .gallery-gp .gallery1 {
      grid-area: one;
    }
    .gallery-content .gallery-gp .gallery2 {
      grid-area: two;
    }
    .gallery-content .gallery-gp .gallery3 {
      grid-area: three;
    }
    .gallery-content .gallery-gp .gallery4 {
      grid-area: four;
    }
    .gallery-content .gallery-gp .gallery5 {
      grid-area: five;
    }

    /* products */
    .card-container {
      padding: 0;
    }

    /* pet */
    .pet-card {
      margin-bottom: 20px;
    }
    /* download */
    .download {
      padding: 30px 0;
    }
    .download .left img {
      transform: translateX(-550px);
    }
    .download .right {
      padding: 0 15px;
    }
    .download .right .right-content {
      margin-top: 15px;
      margin-bottom: 20px;
    }

    .download .right .right-content p {
      width: 100%;
      line-height: 2rem;
      word-break: break-all;
    }
    .download-link a {
      margin-right: 0;
    }

    /* news */
    .latest-news .first-content,
    .latest-news .second-content {
      flex-wrap: wrap;
      padding: 0 15px;
      margin-bottom: 25px;
    }

    .latest-news .first-content .content {
      margin-top: 10px;
    }

    .latest-news .second-content .post-1:nth-child(1) {
      margin-bottom: 25px;
    }

    .latest-news .btn {
      margin-left: 30%;
    }

    .news-archive .box {
      margin-right: 0;
      flex-wrap: wrap;
      padding: 0 15px;
    }
    .news-archive .box .img {
      width: 100%;
      height: 200px;
      margin-bottom: 8px;
    }
    .news-archive .box .box-letters {
      width: 100%;
      margin-left: 0;
    }
    .news-archive .box::after {
      width: 200px;
    }

    /* match */
    .match {
      margin: 50px 0 50px 0;
      padding: 20px 15px;
    }
    .left-team .team-name,
    .right-team .team-name {
      display: block;
      text-align: center;
    }

    .match-preview {
      width: 100%;
      padding: 30px 25px;
    }

    .match-preview .right-team {
      flex-direction: row-reverse;
    }

    .match-preview .time {
      margin: 30px 0;
    }

    /* video */
    .video-content .title h1 {
      width: 250px;
    }

    .video-container .row {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 200px 130px 130px 130px 130px 130px;
    }
    .row-span3 {
      grid-row: span 1;
    }
    .video-container .col .feature-img i {
      font-size: 60px;
    }
    .video-container .small-col {
      grid-template-columns: 50% 45%;
      align-items: stretch;
    }
    .video-container .small-col .viewer {
      align-self: center;
    }
    .video-container .small-col .viewer h3 {
      font-size: 16px;
    }
    .video-container .small-col .viewer small {
      display: none;
    }
    .video-container .small-col .viewer p {
      font-size: 14px;
    }

    /* subscribe */
    .subscribe {
      margin: 60px 0 20px 0;
    }
    .subscribe h1 {
      font-size: 2.5rem;
    }

    .subscribe input {
      width: 170px;
    }

    /* contact */
    .contact {
      flex-wrap: wrap;
      padding-top: 20px;
      height: max-content;
    }
    .contact .left-contact {
      padding-left: 24px;
    }
    .contact .left-contact p {
      font-size: 1.7rem;
    }
    .contact .right-contact {
      padding: 0 10px;
    }
    .contact .right-contact .user-input,
    .contact .right-contact textarea,
    .contact .right-contact button {
      width: 355px !important;
    }

    /* foot */
    .footer .top {
      flex-direction: row;
      align-items: center;
    }
    .footer .top .foot-left {
      width: 50%;
      padding-left: 20px;
    }
    .footer .top .foot-right {
      width: 50%;
      margin-top: 0;
    }
    .top .foot-left li,
    .top .foot-right img {
      display: block;
      margin-bottom: 15px;
    }
    .top .foot-left li:hover {
      transform: translateX(10px);
    }
    .footer .bottom {
      padding: 40px 0 50px 0;
    }

    .footer .bottom .foot-right {
      margin-top: 30px;
    }
  }
}
